langchain
langgraph
langchain_openai
langchain_community
dotenv
streamlit
twilio
langchain_core
langgraph-checkpoint-sqlite

openai
pyttsx3
SpeechRecognition
pyaudio
pyautogui
pywhatkit
fastapi
uvicorn
